 <div class="bread-crumb">
    <ol class="container">
        <li><a href="{url:/index/index}">首页</a> </li>
        <li><a href="{url:/index/article_list}">文章中心 </a></li>
    </ol>
</div>
<div class="container">
    <div class="content-text">
        <div class="">
            <h1 class="title tc"><span>{$article['title']}</span></h1>
            <div class="clearfix"><span class="fr">
                {$article['publish_time']}</span>
            </div>
            <div>
                {$article['content']}
            </div>
        </div>
    </div>
</div>
