<div class="bread-crumb">
    <ol class="container">
        <li><a href="{url:/index/index}">首页 </a></li>
        <li><a href="#">商城▪团购</a></li>
        <li><a href="#">聚划算▪低价团</a></li>
    </ol>
</div>
<div class="container list">
    <!--S 产品展示-->
    <ul class="row-4 groupbuy-index">
        {query:name=groupbuy as gb fields=*,gb.id as id join=left join goods as go on gb.goods_id eq go.id order=is_end , goods_num desc limit=12 page=1 id=$groupbuy}
        <li class="col-2">
            <div class="item">
                <div class=" header img">
                    <a href="{url:/index/groupbuy/id/$item[id]}"><img src="{echo:Common::thumb($item['img'],600,360)}"></a>
                </div>
                <ul class="main">
                    <li class="title"><a href="{url:/index/groupbuy/id/$item[id]}">{echo:TString::msubstr($item['title'],0,15)}</a></li>
                    <li class="price"><i>{$currency_symbol}</i>{$item['price']}</li>
                    <li class="status tc">{if:$item['is_end']==0}<a class="btn btn-main" href="{url:/index/groupbuy/id/$item[id]}">立即团购</a>{else:}<span class="btn disabled btn-gray">抢购团购</span>{/if}</li>
                </ul>
            </div>
        </li>
        {/list}
    </ul>
    <div class=" mt10 page-nav">{echo:$groupbuy->pageBar();}</div>
    <!--E 产品展示-->
</div>
